.tabs {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.addTab {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.addTab:active {
    transform: scale(1.2);
}
